<form>
			<div class="formSep">
				
			</div>
			<div class="formSep">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<label>Input field</label>
						<input class="form-control" type="text">
						<span class="help-block">help block</span>
					</div>
					<div class="col-sm-6 col-md-6">
						<label>Textarea</label>
						<textarea name="txtarea_sp" id="txtarea_sp" cols="10" rows="3" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="formSep">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<label>Regular select</label>
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="col-sm-6 col-md-6">
						<label>Multiselect</label>
						<select multiple="multiple" class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select> 
					</div>
				</div>
			</div>
			<div class="formSep">
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<label>Checkboxes</label>
						<div class="checkbox">
							<label>
								<input value="option1" name="optionsCheckboxList1" type="checkbox">
								Lorem ipsum dolor sit amet, consectetur
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input value="option2" name="optionsCheckboxList2" type="checkbox">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input value="option3" name="optionsCheckboxList3" type="checkbox">
								Lorem ipsum dolor sit amet
							</label>
						</div>
					</div>
					
					<div class="col-sm-6 col-md-6">
						<label>Radio buttons</label>
						<div class="radio">
							<label>
								<input checked="" value="option1" id="optionsRadios1" name="optionsRadios" type="radio">
								Lorem ipsum dolor sit amet, consectetur
							</label>
						</div>
						<div class="radio">
							<label>
								<input value="option2" id="optionsRadios2" name="optionsRadios" type="radio">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="formSep">
				<p class="sepH_c">Prepended an appended inputs</p>
				<div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
							<input size="16" class="form-control" type="text">
						</div>  
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="input-group">
							<span class="input-group-addon">(+256)</span>
							<input size="16" class="form-control" type="text">
						</div>  
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="input-group input-group-sm">
							<input size="16" class="form-control" type="text">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default">Change</button><button type="button" class="btn btn-default">Ok</button>
							</div>
						</div> 
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="input-group">
							<input size="16" class="form-control" type="text">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input size="16" class="form-control" type="text">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="input-group input-group-sm">
							<input size="16" class="form-control" type="text">
							<div class="input-group-btn"><button type="button" class="btn btn-default">OK</button></div>
						</div> 
					</div>
				</div>
			</div>
			<div class="formSep">
				<p class="sepH_c">Form control states</p>
				<div class="row">
					<div class="col-sm-3 col-md-3">
						<label>Focus state</label>
						<input class="focused form-control" type="text">
					</div>
					<div class="f_error col-sm-3 col-md-3">
						<label>Error state</label>
						<input class="form-control" type="text">
						<span class="help-block">help block</span>
					</div>
					<div class="f_warning col-sm-3 col-md-3">
						<label>Warning state</label>
						<input class="form-control" type="text">
						<span class="help-block">help block</span>
					</div>
					<div class="f_success col-sm-3 col-md-3">
						<label>Success state</label>
						<input class="form-control" type="text">
						<span class="help-block">help block</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-md-3">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input size="16" class="focused form-control" type="text">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
					<div class="f_error col-sm-3 col-md-3">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input size="16" class="form-control" type="text">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
					<div class="f_warning col-sm-3 col-md-3">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input size="16" class="form-control" type="text">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
					<div class="f_success col-sm-3 col-md-3">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input size="16" class="form-control" type="text">
							<span class="input-group-addon">.00</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-md-3">
					   <label>Disabled</label>
					   <input disabled="disabled" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="formSep">
				<div class="row sepH_b stacked">
					<div class="col-sm-6 col-md-6">
						<label>Input grid</label>
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<input class="form-control" type="text">
							</div>
							<div class="col-sm-5 col-md-5">
								<input class="form-control" type="text">
							</div>
							<div class="col-sm-3 col-md-3">
								<input class="form-control" type="text">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<label>Height sizing</label>
						<div class="row">
							<div class="col-sm-3 col-md-3">
								<input class="input-sm form-control" placeholder=".input-sm" type="text">
							</div>
							<div class="col-sm-3 col-md-3">
								<input class="input-lg form-control" placeholder=".input-lg" type="text">
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</form>